#footer {
  padding-top:10px;
  background-color:#002366;
}
#site-info-footer {
  font-size:.9em;
  padding-top:5px;
  height: 30px;
  background-color:transparent;
  color:white;
}
#site-info-footer a {
  color:#FFBBFF;
}

.nav li a {
  font-size: 1.4em;
  color: #002366;
  font-weight: 500;
}
body  {
  background-color:white;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2em;
}

ul.footericons li  {
  display:inline-block;
  text-align:center;
  padding-left:15px;
  padding-right:15px;
}

ul.footericons li a  {
  width:20px;
  height:20px;
  color:#CCCCCC;
}
ul.footericons li a:hover  {
  color:black;
}

.nav li.active   {
  /*background-color: ;*/
}

#wrap  {
  background-color: white;  
}

.banner { position: relative; overflow: auto; 
  background: #0f0; 
  min-height: 100px; }
.banner li { list-style: none; }
.banner ul li { float: left;}


a, h1, h2, h3, h4, h5, h6 {color:#002366; font-family: 'Cardo', serif;}
a:hover{
  color:#002366;
  text-decoration: underline;
}

h1{
  font-size: 5em;
  font-weight:300;
}

.content {text-align: left;}
.centered {text-align:center;}

.aboutme {
  font-family: 'Cardo', serif;
  font-size: 1.2em;
  width:90%;
  margin:0;
  padding:0;
}
.aboutme img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
}
.placement {
  margin-left: 0;
  margin-right: 0;
  background-color:white;
  padding-top: 40px;
  padding-bottom: 30px;
}
.blue {
  background-color: #002366;
  color:white;
}
.grey {
  background-color:#ccc;
  color:black;
}

.rushevents p {
  font-size: 2em;
  line-height: 2em;
  color:black;
  margin-bottom:0px;
}

.description {
  font-size: 1.5em;
  line-height: 1.3em;
}

.smallpic1 {
  width:180px;
  height:135px;
  padding:5px;
}
.smallpic2 {
  width:135px;
  height:180px;
  padding:5px;
}

.img_gal img {
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.img_gal img:hover {
  filter:none;
  -webkit-filter: grayscale(0%);
}